[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastreeR"]
	path = fastreeR
	url = https://github.com/gkanogiannis/fastreer
[submodule "metabinR"]
	path = metabinR
	url = https://github.com/gkanogiannis/metabinr
